@model IEnumerable<MVCTravelBookingISE.Models.FlightRulesModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flight_Descrip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight_Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-light">
            <td>
                @Html.DisplayFor(modelItem => item.Flight_Descrip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight_Name)
            </td>
            @*<td>
                    
                    
                    <button class="btn btn-outline-warning" type="submit"><a asp-action="Delete" asp-route-id="@item.FlightRules_Id">Delete</a></button>
                    <button class="btn btn-outline-success" type="submit"><a asp-action="Edit" asp-route-id="@item.FlightRules_Id">Create</a></button>
            </td>*@
        </tr>
}
    </tbody>
</table>
