@using  MVCTravelBookingISE.Data.ViewModels;
@model BookingVModel

@{
    ViewData["Title"] = "Booking Summary";
}

<div class="row py-5">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2>Your Booking summary</h2>
        </div>
        <table class="table">
            <thead>
                <tr>
                   
                    <th>Item</th>
                    <th>Status</th>
                    <th>Price</th>
                    <th>SubTotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.bookingReserved.AccoItems)
                {
                    <tr>
                       
                        <td class="align-middle">Accomodation: @item.Accomodation.Acco_Name</td>
                        <td class="align-middle">@item.Accomodation.Acco_availability</td>
                        <td class="align-middle">@item.Accomodation.Acco_Price</td> 
                        <td class="align-middle">
                            <a class=" text-danger" asp-controller="BookingReserved" asp-action="RemoveItemFromBookingCart" asp-route-id="@item.Acco_Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                </svg>
                            </a>
                            <a class="text-success" asp-controller="BookingReserved" asp-action="AddItemToBookingCart" asp-route-id="@item.Acco_Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                }
              


                @foreach (var item in Model.bookingReserved.FlightBookingItems)
                {
                    <tr>

                        <td class="align-middle">Flight: @item.Flight.Flight_Destination</td>
                        <td class="align-middle">Available</td>
                        <td class="align-middle">@item.Flight.Flight_Price</td>
                        <td class="align-middle">
                            <a class=" text-danger" asp-controller="BookingReserved" asp-action="RemoveItemFromBookingCart" asp-route-id="@item.Flight_Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                </svg>
                            </a>
                            <a class="text-success" asp-controller="BookingReserved" asp-action="AddFlightItemToBookingCart" asp-route-id="@item.Flight_Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                }

                @foreach (var item in Model.bookingReserved.TransportItems)
                {
                    <tr>

                        <td class="align-middle">Transport : @item.transport.Destination_point</td>
                        <td class="align-middle">@item.transport.Transport_Status</td>
                        <td class="align-middle">@item.transport.Transport_Price</td>
                        <td class="align-middle">
                            <a class=" text-danger" asp-controller="BookingReserved" asp-action="RemoveItemFromBookingCart" asp-route-id="@item.Transport_Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                </svg>
                            </a>
                            <a class="text-success" asp-controller="BookingReserved" asp-action="AddFlightItemToBookingCart" asp-route-id="@item.Transport_Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>


            <tfoot>
                <tr>
                    <td colspan="2">  </td>
                    <td><b>Total</b></td>
                    <td>
                       @Model.BookingTotalPrice.ToString("c")
                    </td>
                    <td></td>
                </tr>



            </tfoot>


        </table>
        <div class="text-center">
            <<div class="btn-group">
                <a class="btn btn-outline-dark" asp-controller="Accomodation" asp-action="Index"> Add more items</a>
            </div>
            <div class="btn-group">
                <a class="btn btn-dark" asp-controller="Trip" 
                   asp-action="Create"
                   >Submit booking</a>
            </div>
        </div>

    </div>
</div>

<label class="form-label" for="customFile">Attach supporting documents</label>
<input type="file" class="form-control" id="customFile" />

