@model MVCTravelBookingISE.Models.FlightModel

<div>
    <h4>FlightModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flight_Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flight_Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flight_Departure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flight_Departure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flight_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flight_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flight_Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flight_Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flight_Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flight_Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightRule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightRule.Flight_Descrip)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Flight_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
