@model MVCTravelBookingISE.Models.FlightModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="card text-center w-75">
   
    <dl class="card-body">
       <h5 class="card-title"></h5>
    
       
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight_Departure)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight_Destination)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight_Destination)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlightRule.Flight_Descrip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightRule.Flight_Descrip)
        </dd>
      
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight_Price)
        </dt>
        <dd class="col-sm-10">
            R  @Html.DisplayFor(model => model.Flight_Price)
        </dd>
       
    </dl>

</div>
<div>
    <a class="btn btn-primary btn-md ml-0" data-toggle="popover"
       asp-controller="BookingModels"
       asp-action="AddFlightItemToBookingCart"
       asp-route-id="@Model?.Flight_Id">
        <!-- Full screen modal -->
        Reserve
        (Price @Model?.Flight_Price.ToString("c")
    </a>
    <a class="btn btn-dark"  asp-action="Edit" asp-route-id="@Model?.Flight_Id">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
