@model IEnumerable<MVCTravelBookingISE.Models.FlightModel>

@{
    ViewData["Title"] = "Index";
}

<h1>View all flights</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flight_Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight_Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight_Class)
            </th>
           
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Flight_Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight_Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight_Class)
            </td>
           
        </tr>
}
    </tbody>
</table>
