@model IEnumerable<MVCTravelBookingISE.Models.FlightModel>

@{
    ViewData["Title"] = "Index";
}
<head>

</head>



<body>
@*<section section id=home class="bg-cover hero-section">
    
    <div class="overlay">
        <div class="container text-white text-center">
            <div class="row">
                <div class="col-12">

                    <h1 >WELCOME TO UNLIMITED TRAVELS</h1>
                    <a class="btn btn-main">Explore</a>
                </div>
            </div>
           
        </div>
    </div>


</section>*@


    <div class="alert alert-dismissible alert-info">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Cheap and affordable Flights</strong> and check out the Flight Rules<a href="FlightRulesModels/Index" class="alert-link"> Check Now!</a>.
    </div>


  
     <div class="row">
         <div class="col">
             <div class="mb-2">
                <strong>Which option do you want to choose?</strong>
                <div class="form-check form-check-inline">
                    <strong><label class="form-check-label">Round-trip</label></strong>
                    <input type="radio" class="form-check-input" />
                </div>
                <div class="form-check form-check-inline">
                    <strong> <label class="form-check-label">One-Way trip</label></strong>
                    <input type="radio" class="form-check-input" />
               </div>
                <div class="form-check form-check-inline">
                    <strong><label class="form-check-label">Multi-City</label></strong>
                    <input type="radio" class="form-check-input" />
                </div>
                
                

                <div class="col">
                    <div class="mb-2">
                   
                       <select class="form-select"
                        id="travel-class-select"
                        aria-describedby="travel-class-label">
                        <option value="ECONOMY">Economy</option>
                        <option value="PREMIUM_ECONOMY">Premium Economy</option>
                        <option value="BUSINESS">Business</option>
                        <option value="FIRST">First</option>
                       </select>
                    </div>
                </div>
                
             </div>
         </div>
      
            </div>
       
    <div class="card border-5">
        <div class="card-body ">

            <div class="row">
                <div class="col">
                    <div class="mb-2">
                       
                        <div class="input-group">
                            <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-airplane-fill" viewBox="0 0 16 16">
                  <path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Z"/>
                </svg></span>
                               <input type="text" class="form-control" list="origin-options" id="origin-input" placeholder="Destination" aria-describedby="origin-label" />
                            <datalist id="origin-options"></datalist>

                        </div>
                       
                    </div>
                    
                    
                    
                </div>
               
                <div class="col">
                    <div class="mb-3">
                        <div class="input-group">

                            <input type="text" class="form-control" list="origin-options" id="origin-input" placeholder="Departure" aria-describedby="origin-label" />
                            <datalist id="origin-options"></datalist>

                        </div>
                    </div>
                   
                </div>
                <div class="col-sm">
                 

                   
                    <div class="mb-2">
                        <div class="input-group">
                            <label for="adults-input" class="input-group-text">Date</label>
                            <input type="date"
                                   min="0"
                                   class="form-control"
                                   id="adult-input"
                                   aria-describedby="adults-label" />
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <a class="btn btn-primary text-white" asp-action="Create">Search Flights!</a>




                    </div>
                   
                </div>

            </div>
        </div>
    </div>
  @*  <div class="container">
        <div class="row">
            <div class="col-12 section-intro text-center">
                <h1>Travel Safe and Easy</h1>
                <div class="divider">

                </div>
            </div>
        </div>
    </div>*@


          
       
          


    <div class="jumbotron bg-white">
        <div class="container text-center bg-white ">

            <section id="services">
                <div class="container">
                    <div class="row">
                        <div class="col-12 section-intro text-center">
                            <h1>Flight include international and national flights</h1>
                            <div class="divider">
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
   
    <table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flight_Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight_Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight_Class)
            </th>
           
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
   
        <tr >
            <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-airplane" viewBox="0 0 16 16">
                            <path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Zm.894.448C7.111 2.02 7 2.569 7 3v4a.5.5 0 0 1-.276.447l-5.448 2.724a.5.5 0 0 0-.276.447v.792l5.418-.903a.5.5 0 0 1 .575.41l.5 3a.5.5 0 0 1-.14.437L6.708 15h2.586l-.647-.646a.5.5 0 0 1-.14-.436l.5-3a.5.5 0 0 1 .576-.411L15 11.41v-.792a.5.5 0 0 0-.276-.447L9.276 7.447A.5.5 0 0 1 9 7V3c0-.432-.11-.979-.322-1.401C8.458 1.159 8.213 1 8 1c-.213 0-.458.158-.678.599Z" />
                        </svg>
                @Html.DisplayFor(modelItem => item.Flight_Destination)
            </td>
            <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-airplane" viewBox="0 0 16 16">
                            <path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Zm.894.448C7.111 2.02 7 2.569 7 3v4a.5.5 0 0 1-.276.447l-5.448 2.724a.5.5 0 0 0-.276.447v.792l5.418-.903a.5.5 0 0 1 .575.41l.5 3a.5.5 0 0 1-.14.437L6.708 15h2.586l-.647-.646a.5.5 0 0 1-.14-.436l.5-3a.5.5 0 0 1 .576-.411L15 11.41v-.792a.5.5 0 0 0-.276-.447L9.276 7.447A.5.5 0 0 1 9 7V3c0-.432-.11-.979-.322-1.401C8.458 1.159 8.213 1 8 1c-.213 0-.458.158-.678.599Z" />
                        </svg> 
                @Html.DisplayFor(modelItem => item.Flight_Departure)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Flight_Date)
            </td>
            <td>
              
                @if(item.Flight_Class == 'B'){
                    <span>Business Class</span>
                }
                else if(item.Flight_Class == 'E'){
                    <span>Economy Class</span>
                }
                else if(item.Flight_Class == 'P')
                {
                    <span>Premium Economy</span>
                }
                else{
                    <span>First class</span>
                }
            </td>
           <td>
                        <a class="btn btn-success float-right"data-bs-toggle="popover"  data-bs-placement="left" asp-action="Details" asp-route-id="@item.Flight_Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cursor-fill" viewBox="0 0 16 16">
                                <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z" />
                            </svg>
                            <i class="bi bi-eye-fill"></i> Book Now!
                        </a>
                        
                        <a class="btn btn-primary float-right" asp-action="Details" asp-route-id="@item.Flight_Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="1M6" fill="currentColor" class="bi bi-body-text" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 0 .5Zm0 2A.5.5 0 0 1 .5 2h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm9 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-9 2A.5.5 0 0 1 .5 4h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm5 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm-12 2A.5.5 0 0 1 .5 6h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5Zm8 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-8 2A.5.5 0 0 1 .5 8h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm-7 2a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Z" />
                            </svg>
                            <i class="bi bi-eye-fill"></i> Show Details
                        </a>
           </td>
          
        </tr>
               
}
    </tbody>
</table>


@*<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Accordion Item #1
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Accordion Item #2
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Accordion Item #3
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
</div>
*@
</body>