@model IEnumerable<MVCTravelBookingISE.Models.FlightModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flight_Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight_Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight_Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight_Rules_Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Flight_Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight_Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight_Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight_Rules_Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Flight_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Flight_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Flight_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
