@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


 <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    

<body class="bg-white">
<section class="vh-100 ">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
           
         
                
            <div class="col-12 col-md-8 col-lg-6 col-xl-5 ">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                           
                        <div class="mb-md-5 mt-md-4 pb-5">
                       
                            <h2 class="fw-bold mb-2 text-uppercase text-white">Login</h2>
                          
           
             
                   <form id="account" method="post">
                                <div class="form-outline form-white mb-4">
                        <input asp-for="Input.Email" type="Email" class="form-control rounded-0 mb-3" autocomplete="username" aria-required="true placeholder="Enter Email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                       </div>
                                <div class="form-outline form-white mb-4">
                        <input asp-for="Input.Password" class="form-control rounded-0 mb-3" autocomplete="current-password" aria-required="true" type="password" placeholder="Enter Password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>

                       </div>
                       @*<p class="small mb-5 pb-lg-2">
                          <a class="text-white-50" id="forgot-password" style="text-decoration:none" asp-page="./ForgotPassword">Forgot your password?</a>
                       </p> *@

                                <!-- Checkbox -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                           IsAdmin
                                        </label>
                                    </div>
                                <div class="form-check">
                                    <label asp-for="Input.RememberMe" class="form-label">
                                        <input class="form-check-input" asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                         <!----Submit button----->
                           <button id="login-submit" type="submit" class="btn btn-outline-light btn-lg px-5 mt-4 w-100">Log in</button>
                            </form>
                    </div>
                      <p class="mb-0">

                        <a class="text-white-50 fw-bold" asp-page="./Register" style="text-decoration:none" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                      </p>
                    <p class="mb-0">
                        <a id="resend-confirmation" style="text-decoration:none" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                   </p>
                   
               
                    
              </div>
            
             </div>

           </div>

               

                
                
                
              
           
        </div>

    </div>

</section>
</body>




@*
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
*@

