@model MVCTravelBookingISE.Models.AccomodationModel

@{
    ViewData["Title"] = "Delete Accomodation";
}


<h3>Are you sure you want to delete @Model.Acco_Name ?</h3>
<div>
  
    <hr />
    <dl class="row">
        <dt class="col-sm-2 ">
            @Html.DisplayNameFor(model => model.Acco_picture)
        </dt>
        <dd class="col-sm-10">
            <img class="img-thumbnail" style="width:400px; height:300px;" src=" @Html.DisplayFor(model => model.Acco_picture)" />
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acco_Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acco_Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acco_Rooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acco_Rooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acco_Bathrooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acco_Bathrooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acco_Distance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acco_Distance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acco_Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acco_Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acco_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acco_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acco_Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acco_Price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Acco_Id" />
        <input type="submit" value="Confirm" class="btn btn-danger float-right" /> 
        <a class="btn btn-outline-success"  asp-action="Index">Back to List</a>

        <a class="btn btn-outline-secondary" asp-action="btn btn-outline-secondary" asp-action="Index">Show all</a>
    </form>
  
</div>
