@model MVCTravelBookingISE.Models.AccomodationModel

@{
    ViewData["Title"] = "Details";
}
<head>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>

<div class="container my-5">


    <!--Section: Content-->
    <div class="card text-center bg-dark">
        <div class="card-header">

            <h3 class="font-weight-bold text-white">@Html.DisplayFor(model => model.Acco_Name)</h3>
        </div>
        <div class="card-body text-white">
            <img class="img-thumbnail" style="height:400px; width:600px;" src="@Html.DisplayFor(model => model.Acco_picture)" class="img-fluid" alt="">
            <strong><h5 class="card-title text-white">
                This accomodation is
                @if (Model.Acco_Type == 'G')
                {
                    <span>meant for group of people</span>
                }
                else
                {
                    <span>meant for single or indivivual</span>
                }
                </h5>
            </strong>
            <p class="card-text text-danger ">
                This accomodation is
                @if (Model.Acco_availability == true)
                {
                    <span>available</span>
                }
                else
                {
                    <span>No longer available</span>
                }
            </p>
            <p class="card-text">
                @Html.DisplayFor(model => model.Acco_Rules)
            </p>
            <p class="card-text">
              Bathrooms available: @Html.DisplayFor(model => model.Acco_Bathrooms)
            </p>
            <p class="card-text">
                Rooms available: @Html.DisplayFor(model => model.Acco_Rooms)
            </p>
            <a class="btn btn-success" asp-action="Index">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
                </svg> Back
            </a>
            <a class="btn btn-primary btn-md ml-0" data-toggle="popover"
               asp-controller="BookingModels"
               asp-action="AddItemToBookingCart"
               asp-route-id="@Model?.Acco_Id">
                <!-- Full screen modal -->
                Reserve
                (Price @Model?.Acco_Price.ToString("c")
            </a>
        </div>
       
    </div>
    
    <!--Section: Content-->

         


</div>
      


