@model IEnumerable<MVCTravelBookingISE.Models.AccomodationModel>
@*<link rel="stylesheet" href="~/css/FlightHome.css" />*@

@{
    ViewData["Title"] = "Index";
}
<div class="alert alert-dismissible alert-info">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Cheap and affordable Flights</strong> Ratings on Flights<a href="#" class="alert-link"> Search Now</a>.
</div>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-12 section-intro text-center">
                <h1>Find Cheap acccomodation-many deals to choose form! </h1>
                <p>The destination, ratings and price of accomodation is listed below</p>
                <div class="divider">
                </div>
            </div>
        </div>
    </div>
    </section>



<p>
    <a asp-action="Create">List your property</a>
</p>
    <div class="card ">
    <div class="card-body ">
            <h5 class="card-title">
                Locations
            </h5>
            <div class="row">
                <div class="col-sm">
                    <div class="mb-2">
                        <label id="origin-label" for="origin-input" class="form-label text-black">
                            Origin
                        </label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi-pin-map"></i>Destination 📍</span>
                            <input type="text" class="form-control" list="origin-options" id="origin-input" placeholder="location" aria-describedby="origin-label" />
                            <datalist id="origin-options"></datalist>
                        </div>
                    </div>
                </div>
             <div class="col-sm">
                <div id="departure-date" class="mb-1">
                    <label id="departure-date-label" for="departure-date-input" class="form-label">Check-in date</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi-calendar"></i></span>
                        <input type="date"
                               class="form-control"
                               id="departure-date-input"
                               aria-describedby="departure-date-label" />
                    </div>
                </div>
                <div id="return-date" class="mb-2">
                    <label id="return-date-label" for="return-date-input" class="form-label">Return date</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi-calendar-fill"></i> </span>
                        <input type="date"
                               class="form-control"
                               id="return-date-input"
                               aria-describedby="return-date-label" />
                    </div>
                </div>
                <label class="form-label">Bathrooms</label>
                <div class="mb-2">
                    <div class="input-group">
                        <label for="adults-input" class="input-group-text">Bathrooms</label>
                        <input type="number"
                               min="0"
                               class="form-control"
                               id="adults-input"
                               aria-describedby="adults-label" />
                    </div>
               
                </div>
                <label class="form-label">rooms</label>
                <div class="mb-2">
                    <div class="input-group">
                        <label for="adults-input" class="input-group-text">rooms</label>
                        <input type="number"
                               min="0"
                               class="form-control"
                               id="adults-input"
                               aria-describedby="adults-label" />
                    </div>
                  
                </div>

             </div>
           
            </div>
    </div>
  </div>

  <div class="row">
      <div class="col-2">
          <div class="card mb-3">

          </div>
      </div>
  </div>
<div class="row">
    @foreach (var item in Model) {

        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-transparent">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Acco_Name
                                   @* @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Acco_Id"><i class="bi bi-pencil-square"></i></a>
                                    }*@
                                </h5>
                            </p>
                        </div>
                    </div>
                
                    <div class="col-md-12">
                        <div class="card-body">
                            <p class="card-text"><b>Destination:📍 </b>@item.Acco_Destination</p>
                            <p class="card-text"><b>Bathrooms: 🚽 </b>@item.Acco_Bathrooms</p>
                            <p class="card-text"><b>Rooms:🛏️ </b>@item.Acco_Rooms</p>
                            <p class="card-text"><b>Ratings: ⭐</b>@item.Acco_Rate</p>
                            <p class="card-text"><b>Radius Distance:🗺️ </b>@item.Acco_Distance KM</p>

                            <p class="card-text">
                                <b>Type: </b>
                               @if(item.Acco_Type == 'S' || item.Acco_Type == 's'){
                                    <span>Single 🧍</span>
                               }
                               else{
                                    <span>Group 🧑🏽‍🤝‍🧑🏽</span>
                               }
                            
                            </p>
                            

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Acco_Id">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>
                                <a class="btn btn-success text-white>
                               asp-controller="Orders"
                               asp-action="AddItemToShoppingCart"
                               asp-route-id="@item.Acco_Id">
                                   (Price @item.Acco_Price.ToString("c") /Per Night)
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }



</div>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Rooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Bathrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Rooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Bathrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Price)
            </td>
          
        </tr>
}
    </tbody>
</table>*@
