@model IEnumerable<MVCTravelBookingISE.Models.AccomodationModel>
@*<link rel="stylesheet" href="~/css/FlightHome.css" />*@

@{
    ViewData["Title"] = "Index";
}
<head>
    <script></script>
</head>
<body>

    <section id="services " class="view w-100  text-white" style="background-image:url('https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); background-repeat:no-repeat; background-size:cover; background-position: center center;">
      <div class="mask rgba-black-light align-items-center">
        <div class="container">
        <div class="row">
            <div class="col-12 mb-4 text-white text-center">
                        <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown" data-wow-delay="0.3s" >Find Cheap acccomodation-many deals to choose form! </h1>
                        <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
                        <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s" ></h5>
                            The destination, ratings and price of accomodation is listed below</p>
                        <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s">portfolio</a>
                        <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s">About me</a>

            </div>
        </div>
    </div>
    </div>
    </section>
  

<p>
    <a  class="btn btn-primary text-white" asp-action="Create">List your property</a>
</p>
    <div class="card border-5 border-info ">
    <div class="card-body ">
            <h5 class="card-title">
                Locations
            </h5>
            <div class="row">
                <div class="col-sm">
                    <div class="mb-2">
                        <label id="origin-label" for="origin-input" class="form-label text-black">
                            Origin
                        </label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi-pin-map"></i>Destination 📍</span>
                            <input type="text" class="form-control" list="origin-options" id="origin-input" placeholder="location" aria-describedby="origin-label" />
                            <datalist id="origin-options"></datalist>
                        </div>
                    </div>
                </div>
             <div class="col-sm">
               @* <div id="departure-date" class="mb-1">
                    <label id="departure-date-label" for="departure-date-input" class="form-label">Check-in date</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi-calendar"></i></span>
                        <input type="date"
                               class="form-control"
                               id="departure-date-input"
                               aria-describedby="departure-date-label" />
                    </div>
                </div>*@
                
               @* <div id="return-date" class="mb-2">
                    <label id="return-date-label" for="return-date-input" class="form-label">Return date</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi-calendar-fill"></i> </span>
                        <input type="date"
                               class="form-control"
                               id="return-date-input"
                               aria-describedby="return-date-label" />
                    </div>
                </div>*@
                <label class="form-label">Bathrooms</label>
                <div class="mb-2">
                    <div class="input-group">
                        <label for="adults-input" class="input-group-text">Bathrooms</label>
                        <input type="number"
                               min="0"
                               class="form-control"
                               id="adults-input"
                               aria-describedby="adults-label" />
                    </div>
               
                </div>
                </div>
                <div class="col-sm">
                <label class="form-label">rooms</label>
                <div class="mb-2">
                    <div class="input-group">
                        <label for="adults-input" class="input-group-text">rooms</label>
                        <input type="number"
                               min="0"
                               class="form-control"
                               id="adults-input"
                               aria-describedby="adults-label" />
                    </div>
                  
                </div>

             </div>
           
            </div>
    </div>
  </div>

  <div class="row">
      <div class="col-2">
          <div class="card mb-3">

          </div>
      </div>
  </div>
<div class="row">
    @foreach (var item in Model) {

        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12 bg-transparent">
                        <div class="card-header text-white bg-transparent">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Acco_Name
                                   @* @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Acco_Id"><i class="bi bi-pencil-square"></i></a>
                                    }*@
                                </h5>
                            </p>
                        </div>
                    </div>
                       <div class="col-md-12">
                     
                            <img class="img-rounded" style="max-width:250px"     src="@item.Acco_picture" alt="@item.Acco_Name">
                  
                    </div>
                
                
                    <div class="col-md-12">
                        <div class="card-body">
                            <p class="card-text"><b>Destination:📍 </b>@item.Acco_Destination</p>
                            <p class="card-text"><b>Bathrooms: 🚽 </b>@item.Acco_Bathrooms</p>
                            <p class="card-text"><b>Rooms:🛏️ </b>@item.Acco_Rooms</p>
                            <p class="card-text"><b>Ratings: ⭐</b>@item.Acco_Rate</p>
                            <p class="card-text"><b>Radius Distance:🗺️ </b>@item.Acco_Distance KM</p>

                            <p class="card-text">
                                <b>Type: </b>
                               @if(item.Acco_Type == 'S' || item.Acco_Type == 's'){
                                    <span>Single 🧍</span>
                               }
                               else{
                                    <span>Group 🧑🏽‍🤝‍🧑🏽</span>
                               }
                            
                            </p>
                            

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Acco_Id">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>
                                <a class="btn btn-success text-white" data-toggle="popover"
                               asp-controller="Orders"
                               asp-action="AddItemToBooking"
                               asp-route-id="@item.Acco_Id">
                                   (Price @item.Acco_Price.ToString("c") /Per Night)
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }



</div>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Rooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Bathrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Rooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Bathrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Price)
            </td>
          
        </tr>
}
    </tbody>
</table>*@
<script src="~/js/site.js"></script>
</body>