@model IEnumerable<MVCTravelBookingISE.Models.AccomodationModel>


@{
    ViewData["Title"] = "Index";
}
<head>
    <script></script>
    <script src="~/js/main.js" type="text/javascript"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/site.css"/>



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap" rel="stylesheet">
    
</head>

<body style="margin:0;">

    <header class="py-5 ">
    <div class="card border-2 ">
        <div class="card-body ">

            <div class="row">
                <div class="col">
                    <div class="mb-2">

                        <div class="input-group">
                            <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-airplane-fill" viewBox="0 0 16 16">
                                    <path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Z" />
                                </svg>
                            </span>
                            <input type="text" class="form-control" list="origin-options" id="origin-input" placeholder="Destination" aria-describedby="origin-label" />
                            <datalist id="origin-options"></datalist>

                        </div>

                    </div>



                </div>


                <div class="col">
                    <div class="mb-2">

                        <select class="form-select"
                                id="travel-class-select"
                                aria-describedby="travel-class-label">
                            <option value="ECONOMY">Hotel</option>
                            <option value="PREMIUM_ECONOMY">Villa</option>
                            <option value="BUSINESS">Apartment</option>
                            <option value="FIRST">Flats</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm">



                    <div class="mb-2">
                        <div class="input-group">
                            <label for="adults-input" class="input-group-text">Check in</label>
                            <input type="date"
                                   min="0"
                                   class="form-control"
                                   id="adult-input"
                                   aria-describedby="adults-label" />
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <a class="btn btn-dark text-white" asp-controller="AccomodationModels" asp-action="Filter" asp-action="Create">Search Accommodation!</a>




                    </div>

                </div>

            </div>
        </div>
    </div>
    </header>

  @*  <section id="services " class="view w-100">
      <div class="align-items-center">
        <div class="container">
        <div class="row">
            <div class="col-12 mb-4 text-black text-center">
                        <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown" data-wow-delay="0.3s" >Find Afforable acccomodation </h1>
                        <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
                        <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s" ></h5>
                            The destination, ratings and price of accomodation is listed below</p>
                   

            </div>
        </div>
    </div>
    </div>
    </section>
  *@

  <!--
  <header class="py-3 mb-4 border-bottom shadow bg-dark">
       
    <div class="container-fluid align-items-center d-flex">
        <div class="flex-shrink-1">
            <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none">
                <i class="bi bi-bootstrap fs-2 text-dark"></i>
            </a>
        </div>
        <div class="flex-grow-1 d-flex align-items-center">
               <div class="input-group">
              <input type="text" class="form-control" value="web development">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
              </span>
            </div>
            <div class="flex-shrink-0 dropdown">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://via.placeholder.com/28?text=!" alt="user" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownUser2" style="">
                    <li><a class="dropdown-item" href="#">Search Flights</a></li>
                    <li><a class="dropdown-item" href="#">Dashboard</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>

    </div>
    </header> -->



    
 <div class="container my-5">


        <!-- Section: Block Content -->
        <section class="dark-grey-text text-center">

            <strong><h1 class="text-center font-weight-bold mb-4 pb-2 h1">Find your stay!</h1></strong>
            <p class="text-center text-muted w-responsive mx-auto mb-5">

               
                        Offering the best booking link for the guests and additional benefits for work travellers
            </p>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mb-4">

                    <!-- Card -->
                    <div class="card card-image" style="background-image: url(https://images.pexels.com/photos/221284/pexels-photo-221284.jpeg?cs=srgb&dl=pexels-pixabay-221284.jpg&fm=jpg&_gl=1*1dqmyv5*_ga*MjEzMjg1NDM3LjE2Njc5OTk5OTY.*_ga_8JE65Q40S6*MTY2ODA4MjIwNS4zLjEuMTY2ODA4MjIzNi4wLjAuMA..);">
                        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 px-md-5 rounded">
                            <div>
                                <h6 class="text-white">
                                    <i class="fas fa-chart-pie"></i>
                                    <strong> Explore Transport</strong>
                                </h6>
                                <h3 class="py-3 font-weight-bold text-white">
                                    <strong>Travel conviniently with Unlimited Travels</strong>
                                </h3>
                                <p class="pb-3">
                                    Explore the best reliable and less costly transportation we have to offer.
                                </p>
                                <a asp-controller="TransportModels" asp-action="Index" class="btn btn-warning btn-rounded btn-md">
                                    Explore
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
</svg></a>
                            </div>
                        </div>
                    </div>
                    <!-- Card -->

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-6 mb-4">

                    <!-- Card -->
                    <div class="card card-image" style="background-image: url(https://images.pexels.com/photos/104826/aircraft-holiday-sun-tourism-104826.jpeg?cs=srgb&dl=pexels-pixabay-104826.jpg&fm=jpg&_gl=1*1a2wgp9*_ga*MjEzMjg1NDM3LjE2Njc5OTk5OTY.*_ga_8JE65Q40S6*MTY2ODA4MjIwNS4zLjEuMTY2ODA4MjQ1OS4wLjAuMA..);">
                        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 px-md-5 rounded">
                            <div>
                                <h6 class="green-tex text-white">
                                    <i class=""></i>
                                    <strong> Explore Flights</strong>
                                </h6>
                                <h3 class="py-3 font-weight-bold text-white">
                                    <strong>Dont worry about whats in the bottom</strong>
                                </h3>
                                <p class="pb-3">
                                    Explore the most avodable flights from wide range of reliable service providers
                                </p>
                                <a asp-controller="FlightModel" asp-action="Index" class="btn btn-warning btn-rounded btn-md"> Explore <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
</svg></a>
                            </div>
                        </div>
                    </div>
                    <!-- Card -->

                </div>
                <!-- Grid column -->
                

            </div>
            <!-- Grid row -->

        </section>
        <!-- Section: Block Content -->


    </div>

   
    
 
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
<div class="row">
  <!-- BEGIN SEARCH RESULT -->
  <div class="col-md-12">
    <div class="grid search">
      <div class="grid-body">
        <div class="row">
          <!-- BEGIN FILTERS -->
          <div class="col-md-3">
            <h3 class="grid-title"><i class="fa fa-filter"></i> Filters</h3>
            <hr>
            
            <!-- BEGIN FILTER BY CATEGORY -->
            <h6>By category:</h6>
            <div class="form-check">
            <div class="checkbox">
                    <input type="checkbox" class="form-check-input" />
                   <label class="form-check-label" for="flexCheckDefault" > Villa </label>
              </div>
             </div>
            <div class="checkbox">
              <label><input type="checkbox" class="icheck"> Resorts</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" class="icheck"> Apartments</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" class="icheck"> Hotels</label>
            </div>
            <hr />

             <h6>By Star Rating:</h6>
            <div class="checkbox">
              <label><input type="checkbox" class="icheck"> 1 star</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" class="icheck"> 2 stars </label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" class="icheck"> 3 stars</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" class="icheck"> 4 stars</label>
            </div>
             <div class="checkbox">
              <label><input type="checkbox" class="icheck"> 5 stars</label>
            </div>
             <div class="checkbox">
              <label><input type="checkbox" class="icheck">Unrated</label>
            </div>
            <hr />
            <!-- END FILTER BY CATEGORY -->
            
            <div class="padding"></div>
             <strong><label class="form-label" for="customRange2">Search price Range</label></strong>

    <form>
        <strong><span>0</span></strong> <input type="range" class="form-range w-75" min="0" max="100" id="customRange2" />   <strong><span>100</span></strong>

    </form>
                                <div class="padding"></div>
                                <hr />
            <!-- BEGIN FILTER BY DATE -->
            <h6>By date:</h6>
            From
            <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input1">
              <input type="date" class="form-control">
            
            </div>
            <input type="hidden" id="dtp_input1" value="">
            
            To
            <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2">
              <input type="date" class="form-control">
              
            </div>
            <input type="hidden" id="dtp_input2" value="">
            <!-- END FILTER BY DATE -->
            
            <div class="padding"></div>
            <hr />
            <!-- BEGIN FILTER BY PRICE -->
            <h6>By price:</h6>
            Between <div id="price1">$300</div> to <div id="price2">$800</div>
            <div class="slider-primary">
              <div class="slider slider-horizontal" style="width: 152px;"><div class="slider-track"><div class="slider-selection" style="left: 30%; width: 50%;"></div><div class="slider-handle round" style="left: 30%;"></div><div class="slider-handle round" style="left: 80%;"></div></div><div class="tooltip top hide" style="top: -30px; left: 50.1px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">300 : 800</div></div><input type="text" class="slider" value="" data-slider-min="0" data-slider-max="1000" data-slider-step="1" data-slider-value="[300,800]" data-slider-tooltip="hide"></div>
            </div>
            <div style="margin-top:50px;">
                <a class="btn btn-primary">Submit</a>
           </div>
            <!-- END FILTER BY PRICE -->
          </div>
          <!-- END FILTERS -->
          <!-- BEGIN RESULT -->
          <div class="col-md-9">
            <h2><i class="fa fa-file-o"></i>List of Accomodations</h2>
            <hr>
            <!-- BEGIN SEARCH INPUT -->
          
            <!-- END SEARCH INPUT -->
           
            
            <div class="padding"></div>
            
            <div class="row">
              <!-- BEGIN ORDER RESULT -->
              <div class="col-sm-6">
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Order by <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Villa</a></li>
                    <li><a href="#">Resorts</a></li>
                    <li><a href="#">Hotels</a></li>
                    <li><a href="#">Apartments</a></li>
                  </ul>
                </div>
              </div>
              <!-- END ORDER RESULT -->
              
              <div class="col-md-6 text-right">
                <div class="btn-group">
                  <button type="button" class="btn btn-default active"><i class="fa fa-list"></i></button>
                  <button type="button" class="btn btn-default"><i class="fa fa-th"></i></button>
                </div>
              </div>
            </div>
                                <div class="alert alert-primary" role="alert">
                                    Get a 30% Discount on group <a href="#" class="alert-link"> accomodations</a> 
                                </div>
              @foreach (var item in Model) {
            <!-- BEGIN TABLE RESULT -->
            <div class="table-responsive">
              <table class="table table-hover">
                <tbody><tr>
                  <td class="number text-center">1</td>
                  <td class="image"><img src="@item.Acco_picture" alt=""></td>
                   <td class="product text">
                   <strong><h5>@item.Acco_Name</h5><span class=" text-black">@item.Acco_Destination</span>
                       <br>
                        @if(item.Acco_Rate == 5){
                                  <span class="text-warning">&#9733;&#9733;&#9733;&#9733;&#9733;<span class="text-warning"> Superhost</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
  <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
</svg></span>
                             }
                             else if(item.Acco_Rate == 4){
                                    <span class="text-warning">&#9733;&#9733;&#9733;&#9733;</span>
                             }
                             else if(item.Acco_Rate == 3)
                            {
                                    <span class="text-warning">&#9733;&#9733;&#9733;</span>
                            }
                            else if(item.Acco_Rate == 2){
                                    <span class="text-warning">&#9733;&#9733;</span>
                            }
                            else if(item.Acco_Rate == 1){
                                    <p class="text-warning">&#9733;</p>
                            }
                            else{
                                <span class="text-warning">No Ratings</span>
                            }
                       </strong><br><span class="text-success">@item.Acco_Rules</span>
                         <br> <span class="text-muted">Number of bathrooms: @item.Acco_Rooms</span>
                        <br> <span class="text-muted">Number of bathrooms: @item.Acco_Bathrooms</span>
                                                       
                                                        <br>  <a class="btn btn-sm btn-success float-right" asp-action="Details" asp-route-id="@item.Acco_Id">
                                                            Check Availability
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                                            </svg>
                                                        </a>
                  </td>
                  <td class="rate text-right">

                  </td>
                  <td class="price text-right">@item.Acco_Price.ToString("c")
               </td>
                </tr>
       
              
                
              </tbody></table>
            </div>
            <!-- END TABLE RESULT -->
            }
            <!-- BEGIN PAGINATION -->
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination pagination-circle pg-blue">
                                        <li class="page-item disabled"><a class="page-link">First</a></li>
                                        <li class="page-item disabled">
                                            <a class="page-link" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item active"><a class="page-link">1</a></li>
                                        <li class="page-item"><a class="page-link">2</a></li>
                                        <li class="page-item"><a class="page-link">3</a></li>
                                        <li class="page-item"><a class="page-link">4</a></li>
                                        <li class="page-item"><a class="page-link">5</a></li>
                                        <li class="page-item">
                                            <a class="page-link" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link">Last</a></li>
                                    </ul>
                                </nav>
            <!-- END PAGINATION -->
          </div>
          <!-- END RESULT -->
        </div>
      </div>
    </div>
  </div>
  <!-- END SEARCH RESULT -->
</div>
</div>
   
    
   

  
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Rooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Bathrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Rooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Bathrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Price)
            </td>
          
        </tr>
}
    </tbody>
</table>*@
    <div class="container z-depth-1 my-5 py-5">

        <!-- Section 
        <section>

         
            <h1 class="font-weight-bold text-center dark-grey-text pb-2">Our Services</h1>
            <hr class="w-header my-4">
            <p class="lead text-center text-muted pt-2 mb-5">
                Join thousands of satisfied customers using our template
                globally.
            </p>

            <div class="row d-flex justify-content-center">

                <div class="col-md-6 col-lg-5 col-xl-4">
                    <h5 class="font-weight-normal border-top border-light pt-4 mb-4">
                        <a class=" btn btn-sm btn-lg btn-primary dark-grey-text" href="#">
                            Website
                            Design
                        </a>
                    </h5>
                    <p class="text-muted mb-5 pb-md-3">
                        Written enquire painful to offices forming it. Then so does over sent
                        dull. Likewise offended humour mrs
                        fat trifling answered. On ye position greatest so desirous enable performance based.
                    </p>
                </div>

                <div class="col-md-6 col-lg-5 col-xl-4">
                    <h5 class="font-weight-normal border-top border-secondary pt-4 mb-4">
                        <a class="  btn btn-sm btn-lg btn-primary dark-grey-text"
                           href="#">Application Development</a>
                    </h5>
                    <p class="text-muted mb-5 pb-md-3">
                        Written enquire painful to offices forming it. Then so does over sent
                        dull. Likewise offended humour mrs
                        fat trifling answered. On ye position greatest so desirous enable performance based.
                    </p>
                </div>

                <div class="w-100"></div>

                <div class="col-md-6 col-lg-5 col-xl-4">
                    <h5 class="font-weight-normal border-top border-light pt-4 mb-4">
                        <a class=" btn btn-sm btn-lg btn-primary  dark-grey-text" href="#">
                            Branding
                            Package
                        </a>
                    </h5>
                    <p class="text-muted mb-5">
                        Written enquire painful to offices forming it. Then so does over sent dull.
                        Likewise offended humour mrs
                        fat trifling answered. On ye position greatest so desirous enable performance based.
                    </p>
                </div>

                <div class="col-md-6 col-lg-5 col-xl-4">
                    <h5 class="font-weight-normal border-top border-light pt-4 mb-4">
                        <a class=" btn btn-sm btn-lg btn-primary  dark-grey-text"
                           href="#">Advertisement</a>
                    </h5>
                    <p class="text-muted mb-5">
                        Written enquire painful to offices forming it. Then so does over sent dull.
                        Likewise offended humour mrs
                        fat trifling answered. On ye position greatest so desirous enable performance based.
                    </p>
                </div>

            </div>
        </section>-->
        <!-- Section -->

    </div>
  @*  <script>
        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $('#startDate').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            minDate: today,
            maxDate: function () {
                return $('#endDate').val();
            }
        });
        $('#endDate').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            minDate: function () {
                return $('#startDate').val();
            }
        });


     
    </script>*@
    
<script src="~/js/site.js"></script>

</body>