@model IEnumerable<MVCTravelBookingISE.Models.AccomodationModel>


@{
    ViewData["Title"] = "Index";
}
<head>
    <script></script>
    <script src="~/js/main.js" type="text/javascript"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/site.css"/>
    <title>Bootstrap Example</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    
   
</head>

<body>


  @*  <section id="services " class="view w-100">
      <div class="align-items-center">
        <div class="container">
        <div class="row">
            <div class="col-12 mb-4 text-black text-center">
                        <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown" data-wow-delay="0.3s" >Find Afforable acccomodation </h1>
                        <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
                        <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s" ></h5>
                            The destination, ratings and price of accomodation is listed below</p>
                   

            </div>
        </div>
    </div>
    </div>
    </section>
  *@
  <header class="py-3 mb-4 border-bottom shadow bg-dark">
       
    <div class="container-fluid align-items-center d-flex">
        <div class="flex-shrink-1">
            <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none">
                <i class="bi bi-bootstrap fs-2 text-dark"></i>
            </a>
        </div>
        <div class="flex-grow-1 d-flex align-items-center">
                <form class="w-100 me-3" class="d-flex" asp-controller="AccomodationModels" asp-action="Filter">

                    <input name ="searchstring" type="search" class="form-control" placeholder="Search...">
                    <button class="btn btn-secondary my-2 my-sm-0 g" type="submit">Search</button>
            </form>
            <div class="flex-shrink-0 dropdown">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://via.placeholder.com/28?text=!" alt="user" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownUser2" style="">
                    <li><a class="dropdown-item" href="#">Search Flights</a></li>
                    <li><a class="dropdown-item" href="#">Dashboard</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>

    </div>
</header>

    <strong><label class="form-label" for="customRange2">Search price Range</label></strong>
    <div class="range">
        <input type="range" class="form-range" min="0" max="1000" id="customRange2" />
    </div>
   
<div class="container-fluid pb-3 flex-grow-1 d-flex flex-column flex-sm-row overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
     
        <main class="col overflow-auto h-100">
            <div class="bg-light border rounded-3 p-3">

                    <div class="container-fluid container py-3 mt-4">
                        <h2 class="h3">Browse by Accomodation category</h2>
                        <div class="row mt-4">
                            <div class="col-md-3">
                                <div class="card mb-3">
                                    <img src="https://images.unsplash.com/photo-1533654793924-4fc4949fb71e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title"><strong>Hotels</strong></h5>
                                        <p class="card-text">How much hotels are there</p>

                                        <form class="d-flex" asp-controller="AccomodationModels" asp-action="FilterHotel">
                                            <button class="btn btn-sm btn-success">Explore!</button>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card mb-3">
                                    <img src="https://images.unsplash.com/photo-1590523277543-a94d2e4eb00b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title"><strong>Resorts</strong></h5>
                                        <p class="card-text">How much hotels are there</p>
                                        <form class="d-flex" asp-controller="AccomodationModels" asp-action="FilterResort">
                                            <button class="btn btn-sm btn-success">Explore!</button>

                                        </form>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="card mb-3">
                                    <img src="https://images.unsplash.com/photo-1613561323381-fd3eb1a73ee8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title"><strong>Villas</strong></h5>
                                        <p class="card-text">How much hotels are there</p>
                                        <form class="d-flex" asp-controller="AccomodationModels" asp-action="FilterVilla">
                                            <button class="btn btn-sm btn-success">Explore!</button>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card mb-3">
                                    <img src="https://images.unsplash.com/photo-1542314831-068cd1dbfeeb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title"><strong>Apartments</strong></h5>
                                        <p class="card-text">How much hotels are there</p>
                                        <form class="d-flex" asp-controller="AccomodationModels" asp-action="FilterApartment">
                                            <button class="btn btn-sm btn-success">Explore!</button>

                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="container-fluid ">
                        <div class="container pl-0">
                            <div class="row">
                                <div class="col-12 pl-0 mb-5">
                                    <h2 class="h3  mt-0 mb-2">When are you travelling?</h2>
                                    <p class="mt-0 ml-0 mb-2">Add dates for updated pricing and availability.</p>
                                    <button class="btn btn-sm btn-success">Add dates</button>
                                </div>
                            </div>
                        </div>
                    </div>
                   
            </div>
               
        </main>
    </div>
</div>
 
    
   

   <div>

      <strong><h1>Browse All Accomodation</h1></strong
    </div>
<div class="row">
    @foreach (var item in Model) {

        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 400px">
                <div class="row g-0">
                    <div class="col-md-12 bg-transparent">
                        <div class="card-header text-white bg-transparent">
                            <p class="card-text">
                                <h5 class="card-title">
                                        <strong> @item.Acco_Name</strong>
                                        @* @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Acco_Id"><i class="bi bi-pencil-square"></i></a>
                                    }*@
                                </h5>
                            </p>
                        </div>
                    </div>
                       <div class="col-md-12">
                     
                            <img class="img-rounded" style="max-width:400px"   src="@item.Acco_picture" alt="@item.Acco_Name">
                  
                    </div>
                
                
                    <div class="col-md-12">
                        <div class="card-body">
                            <p class="card-text"><b>Destination: </b>@item.Acco_Destination</p>
                            <p class="card-text"><b>Bathrooms:  </b>@item.Acco_Bathrooms</p>
                            <p class="card-text"><b>Rooms: </b>@item.Acco_Rooms</p>
                            <p class="card-text">
                             @if(item.Acco_Rate == 5){
                                  <span class="text-info">&#9733;&#9733;&#9733;&#9733;&#9733;<span class="text-secondary"> Superhost</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
  <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
</svg></span>
                             }
                             else if(item.Acco_Rate == 4){
                                    <span class="text-info">&#9733;&#9733;&#9733;&#9733;</span>
                             }
                             else if(item.Acco_Rate == 3)
                            {
                                    <span class="text-info">&#9733;&#9733;&#9733;</span>
                            }
                            else if(item.Acco_Rate == 2){
                                    <span class="ext-info">&#9733;&#9733;</span>
                            }
                            else if(item.Acco_Rate == 1){
                                    <p class="text-info">&#9733;</p>
                            }
                            else{
                                <span class="text-secondary">Be the first one to rate!</span>
                            }
                            </p>
                            <p class="card-text"><b>Radius Distance:🗺️ </b>@item.Acco_Distance KM</p>

                           @* <p class="card-text">
                                <b>Type: </b>
                               @if(item.Acco_Type == 'S' || item.Acco_Type == 's'){
                                  
                                  <span class="label label-info">Single person</span>
                               }
                               else{
                                        <span class="label label-info">Group</span>
                               }
                            
                            </p>*@
                            

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Acco_Id">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>
                                <a class="btn btn-success text-white" data-toggle="popover"
                                   asp-controller="BookingModels"
                                   asp-action="AddItemToBookingCart"
                                   asp-route-id="@item.Acco_Id">
                                        <!-- Full screen modal -->
                                    
                                   (Price @item.Acco_Price.ToString("c") /Per Night)
                                </a>
                                
                            </p>
                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        }

            
       

</div>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Rooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Bathrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acco_Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Rooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Bathrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acco_Price)
            </td>
          
        </tr>
}
    </tbody>
</table>*@
  
    <script>
        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $('#startDate').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            minDate: today,
            maxDate: function () {
                return $('#endDate').val();
            }
        });
        $('#endDate').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            minDate: function () {
                return $('#startDate').val();
            }
        });


     
    </script>
    
<script src="~/js/site.js"></script>

</body>